<!doctype html>
<html ng-app="Rover">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="mars" ng-controller="Mission as mission">

      <div class="terrainRow" ng-repeat="row in mission.terrain">
        <div class="terrainCell" ng-repeat="cell in row">

          <img ng-if="cell.rover"
               class="rover"
               src="http://mars.nasa.gov/msl/mission/science/results/images/Rover.png" />
        </div>
      </div>

      <p>
        <button ng-click="mission.rover.turn('l')">< Turn Left</button>
        <span>Facing {{mission.rover.direction | cardinal}}
        <button ng-click="mission.rover.turn('r')">Turn Right ></button>
      <p>
      <button ng-click="mission.moveForward()">Move Forward >></button>
    </div>
  </body>
</html>
