<!doctype html>
<html ng-app="Rover">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="index.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="mars" ng-controller="Mission as mission">

      <div id="sattelite">
        <div id="terrain" ng-style="mission.worldSize">
          <div class="terrainRow" ng-repeat="row in mission.terrain">
            <div class="terrainCell" ng-repeat="cell in row" ng-class="{'obstacle': cell.obstacle}">
              <img ng-if="cell.rover"
                   class="rover facing{{mission.rover.direction | cardinal}}"
                   src="http://www.hotwheels.com/en-ca/Images/Y4712_MARS_tcm859-123794_w230.png" />
            </div>
          </div>
        </div>
      </div>

      <div id="comms" >
        <p>
          <span>Facing {{mission.rover.direction | cardinal}} <br/>
          <button ng-click="mission.rover.turn('l')"><i class="fa fa-reply"></i></button>
          <button ng-click="mission.moveForward()"><i class="fa fa-plus"></i></i></button>
          <button ng-click="mission.moveBackward()"><i class="fa fa-minus"></i></i></button>
          <button ng-click="mission.rover.turn('r')"><i class="fa fa-share"></i></button>
        <p>
        {{mission.message}}
        <div ng-if="mission.message == 'bonk'">
          <img class="img-responsive" src="http://i.giphy.com/pNy4YfgKXN5kI.gif" />
        </div>
      </div>

    </div>
  </body>
</html>
