<!doctype html>
<html ng-app="Rover">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="mars" ng-controller="Mission as mission">

      <div id="sattelite">
        <div id="terrain" ng-style="mission.worldSize">
          <div class="terrainRow" ng-repeat="row in mission.terrain">
            <div class="terrainCell" ng-repeat="cell in row" ng-class="{'obstacle': cell.obstacle}">
              <img ng-if="cell.rover"
                   class="rover facing{{mission.rover.direction | cardinal}}"
                   src="https://cdn-icons-png.flaticon.com/512/1203/1203324.png?w=230" />
            </div>
          </div>
        </div>
      </div>

      <div id="comms">
        <p>
          <span>Facing {{mission.rover.direction | cardinal}} <br/>
          <button ng-click="mission.rover.turn('l')"><i class="fa fa-reply"></i></button>
          <button ng-click="mission.moveForward()"><i class="fa fa-plus"></i></i></button>
          <button ng-click="mission.moveBackward()"><i class="fa fa-minus"></i></i></button>
          <button ng-click="mission.rover.turn('r')"><i class="fa fa-share"></i></button>
        <p>
        {{mission.message}}
      </div>

    </div>
  </body>
</html>
